/* #reloj {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    background-color: rgba(69, 69, 151, 0.608);

}
#reloj {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: goldenrod;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 60s linear infinite;

}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}